<p id="notice"><%= notice %></p>

<p>
  <strong>Auto apply:</strong>
  <%= @p42_discount_item.auto_apply %>
</p>

<p>
  <strong>Discount amount:</strong>
  <%= @p42_discount_item.discount_amount %>
</p>

<p>
  <strong>Discount item:</strong>
  <%= @p42_discount_item.discount_item_id %>
</p>

<p>
  <strong>Menu item:</strong>
  <%= @p42_discount_item.menu_item_id %>
</p>

<p>
  <strong>Pos ticket:</strong>
  <%= @p42_discount_item.pos_ticket_id %>
</p>

<p>
  <strong>Pos ticket item:</strong>
  <%= @p42_discount_item.pos_ticket_item_id %>
</p>

<p>
  <strong>Reason text:</strong>
  <%= @p42_discount_item.reason_text %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @p42_discount_item.ticket_id %>
</p>

<p>
  <strong>Ticket item:</strong>
  <%= @p42_discount_item.ticket_item_id %>
</p>

<p>
  <strong>Ticket item price:</strong>
  <%= @p42_discount_item.ticket_item_price %>
</p>

<p>
  <strong>When:</strong>
  <%= @p42_discount_item.when %>
</p>

<%= link_to 'Edit', edit_p42_discount_item_path(@p42_discount_item) %> |
<%= link_to 'Back', p42_discount_items_path %>
