<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @p42_discount.active %>
</p>

<p>
  <strong>Name:</strong>
  <%= @p42_discount.name %>
</p>

<%= link_to 'Edit', edit_p42_discount_path(@p42_discount) %> |
<%= link_to 'Back', p42_discounts_path %>
