<h3><b><%= @folder_name %></b> contents</h3>
<button id="process_day" class="btn btn-xs btn-success">Process Day</button>
<table class="table" id="folder_content_tbl">
	<thead>
		<tr>
			<th class="hidden">ID</th>
			<th>File Type</th>
			<th>Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @file_list.each do |file| %>
		<% file_type = file[:title].gsub('.DBF', '') %>
			<tr id="<%= file_type %>" data-fileid="<%= file[:id] %>">
				<td class="hidden"><%= file[:id] %></td>
				<td><%= file[:mime_type] %></td>
				<td><a href="/google_drive_sync/get_file?file_id=<%= file[:id] %>"><%= file[:title] %></a></td>
				<td id="<%= file_type %>-results"></td>
			</tr>
		<% end %>
	</tbody>
</table>
