<h3>Drive search results</h3>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Parent Title</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @gnditem_results.each do |item| %>
      <tr>
        <td><%= item[:id] %></td>
        <td><%= item[:parent_title] %></td>
        <td><%= item[:title] %></td>

        <% if item[:mime_type] == "application/vnd.google-apps.folder" %>

          <td><button data-foldername="<%= item[:title] %>" data-scope="all" data-folderid="<%= item[:id] %>" id="view_all_<%= item[:id] %>" class="view_folder btn btn-xs">View Contents</button> 
            <button data-foldername="<%= item[:title] %>" data-scope="filtered" data-folderid="<%= item[:id] %>" id="view_filtered_<%= item[:id] %>"class="view_folder btn btn-xs btn-primary top-margin">View Filtered</button></td>

        <% else %>
         
          <td><a href="/google_drive_sync/get_file?file_id=<%= item[:id] %>"><button class="btn btn-xs">Process File</button></a></td>
        
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>