<p id="notice"><%= notice %></p>

<p>
  <strong>Pos ticket:</strong>
  <%= @p42_ticket.pos_ticket_id %>
</p>

<p>
  <strong>Gross price:</strong>
  <%= @p42_ticket.gross_price %>
</p>

<p>
  <strong>Net price:</strong>
  <%= @p42_ticket.net_price %>
</p>

<p>
  <strong>Meal for meal:</strong>
  <%= @p42_ticket.meal_for_meal %>
</p>

<%= link_to 'Edit', edit_p42_ticket_path(@p42_ticket) %> |
<%= link_to 'Back', p42_tickets_path %>
