<div class="row">
    <h1 class="pull-left">Pitza 42 Menu Items</h1> 
    <div class="col-md-2 pull-left">
        <h1 style="letter-spacing:0px;"><%= link_to "Sync Menu Items", {:controller => 'p42/menu_items', :action => 'sync_menu_items'}, :method => 'POST', :class => 'btn btn-success' %>
        </h1>
    </div>
</div>


<% @p42_item_categories.each_with_index do |category, index| %>
<% category_items = P42::MenuItem.where("menu_item_group_id = ?", category.id) %>
    <% if index%3 == 0 %>
        <div class="row">
    <% end %>
            <div class="col-md-4">
                <div class="row" style="border-bottom:1px solid lightgray; margin-right:2px;">
                    <div class="col-md-6">
                        <h3><%= category.name %></h3>
                    </div>
                    <div class="col-md-6" style="margin-top:20px;">
                        <% if category.default_meal_modifier.nil? %>
                            <%= link_to 'Default modifier not set', edit_p42_menu_item_group_path(category), :class => 'label label-danger' %>
                        <% else %>
                            <span class="label label-primary">Default Modifier: <%= category.default_meal_modifier %></span>
                        <% end %>
                    </div>
                </div>
                
                <div class="col-md-12 table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Name</th>
                                <th>Meal Rule</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% category_items.each do |item| %>
                            <tr>
                                <td><%=item.id %></td>
                                <td><%= link_to item.name, item %></td>
                                <td>                                    
                                    <% if item.meal_count_rules.empty? %>
                                        <div id="no-rule-<%= item.id %>">
                                            <%= link_to new_p42_meal_count_rule_path(:menu_item => item.id), remote: true, method: :get do %>
                                                        <span class="label label-danger">No meal modifier set</span>
                                            <% end %>   
                                        </div>                                       
                                    <% else %>
                                        <% item.meal_count_rules.each do |rule| %>
                                         <div id="rule-<%= rule.id %>">
                                             <% if (rule.start_date..rule.end_date).include?(Date.today) %>
                                                <%= link_to edit_p42_meal_count_rule_path(rule, :menu_item => item.id), remote: true, method: :get do %>
                                                    <span class="label label-success">Modifier: <%= rule.meal_modifier %></span>
                                                <% end %>                                                
                                            <% else %>
                                                <%= link_to edit_p42_meal_count_rule_path(rule, :menu_item => item.id), remote: true, method: :get do %>
                                                    <span class="label label-default">Modifier: <%= rule.meal_modifier %></span>
                                                <% end %> 
                                            <% end %>
                                        </div>
                                        <% end %>
                                    <% end %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
    <% if (index+1)%3 == 0 %>
        </div>
    <% end %>
<% end %>
<div class="row">
    <div class="col-md-3 well">
        <p class="bold">Items possibly needing an update. Not currently used in meal count:</p>
        <% @food_not_counted.all.each do |item| %>
            <p>
                <%= link_to item.name, edit_p42_menu_item_path(item) %>
            </p>
        <% end %>
    </div>
    <% unless @apparel_items_modifier_not_set.empty? %>
    <div class="col-md-3 well">
        <p class="bold">Items possibly needing an update. Modifier not set for these
            apparel items:</p>
        <% @apparel_items_modifier_not_set.all.each do |item| %>
            <p>
                <%= link_to item.name, edit_p42_menu_item_path(item) %>
            </p>
        <% end %>
    </div>
    <% end %>
</div>
<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-hover" id="menu_items_tbl">
            <thead>
              <tr>
                <th>id</th>
                <th>Name</th>
                <th>Item group</th>
                <th>Revenue class</th>
                <th>Gross price</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% @p42_menu_items.each do |p42_menu_item| %>
              <tr>
                <td><%= p42_menu_item.id %></td>
                <td><%= p42_menu_item.name %></td>
                <td><%= p42_menu_item.menu_item_group.try(:name) %></td>
                <td><%= p42_menu_item.revenue_group.try(:name) %></td>
                <td><%= number_to_currency(p42_menu_item.gross_price) %></td>
                <td><%= link_to 'Show', p42_menu_item, :class => 'btn btn-default btn-mini' %></td>
                <td><%= link_to 'Edit', edit_p42_menu_item_path(p42_menu_item), :class => 'btn btn-mini btn-primary' %></td>
                <td><%= link_to 'Destroy', p42_menu_item, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
              </tr>
                <!-- Add detail row to the table that lists the menu item's meal rules -->
                <% unless p42_menu_item.meal_count_rules.empty? %>
                  
                    
                <% p42_menu_item.meal_count_rules.each_with_index do |rule, index| %>
                    <tr>
                        <% if index == 0 %>
                            <td colspan="2" rowspan="<%= p42_menu_item.meal_count_rules.count %>"style="border-top-width: 0px;">Meal Count Rules</td>
                        <% end %>
                        <td colspan="2" style="border-top-width: 0px;">Start:<%= rule.start_date %></td>
                        <td colspan="2" style="border-top-width: 0px;">End: <%= rule.end_date %></td>
                        <td colspan="2" style="border-top-width: 0px;">Multiplier: <%= rule.meal_modifier %></td>
                    </tr>                        
                <% end %>                    
                  
                <% end %>
            <% end %>
            </tbody>
        </table>
    </div>
</div>

<div id="rule-modal" class="modal fade" aria-hidden="true"></div>