<p id="notice"><%= notice %></p>
<div class="row">
  <h1><%= @p42_menu_item.name %></h1>
  <div class="col-md-4">
    <p>
      <strong>Name:</strong>
      <%= @p42_menu_item.name %>
    </p>
    <p>
      <strong>Item group:</strong>
      <%= @p42_menu_item.menu_item_group.name %>
    </p>
    <p>
      <strong>Revenue group:</strong>
      <%= @p42_menu_item.revenue_group.try(:name) %>
    </p>
    <p>
      <strong>Gross price:</strong>
      <%= @p42_menu_item.gross_price %>
    </p>

    <p>
      <strong>Recipe:</strong>
      <%= @p42_menu_item.recipe_id %>
    </p>


  </div>
  <div class="col-md-4">
    <h4>Meal for Meal Settings</h4>
    <p>
      <b>Used in meal count:</b> <%= @p42_menu_item.count_meal %>
    </p>
    <p>
      <b>Count modifier:</b> <%= @p42_menu_item.count_meal_modifier %>
    </p>
  </div>
</div>


<%= link_to 'Edit', edit_p42_menu_item_path(@p42_menu_item), :class => 'btn btn-info' %> 
<%= link_to 'Back', p42_menu_items_path %>
