<h1>Pitza 42 Menu Item Groups</h1>
<p><%= link_to "Sync Menu Item Groups", {:controller => 'p42/menu_item_groups', :action => 'sync_menu_item_groups'}, :method => 'POST', :class => 'btn btn-default', :type => "button" %>
</p>
<span id="error_cont">
  <!-- error message dropped in here if the in place update of the default meal modifier fails -->
</span>
<div class="bs-callout bs-callout-info">
  <h4>Sync</h4>
  <p>The Sync Menu Item Groups button above will download all of the Item Groups from Dinerware at P42.</p>
</div>
<div class="bs-callout bs-callout-info">
  <h4>Default Meal Modifier</h4>
  <p>You can then set the default number of meals for each Item Group. This default amount will be used as the meal modifier for every menu item added to that group from the time you set it forward. It will not change the meal modifier for any menu item from that group that is already in Hawkeye.</p>
</div>
  <div class="bg-primary"><p class="text-center">Click on the placeholder text or number to change the default meal modifier in place</p></div>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Default meal modifier</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @p42_menu_item_groups.each do |p42_menu_item_group| %>
      <tr>
        <td><%= p42_menu_item_group.id %></td>
        <td><%= p42_menu_item_group.name %></td>
        <td><span class="rest-in-place" data-url="menu_item_groups/<%= p42_menu_item_group.id %>" data-object="p42_menu_item_group" data-attribute="default_meal_modifier" data-placeholder="Click here to set default number of meals"><%= p42_menu_item_group.default_meal_modifier %></span></td>
        <td><%= link_to 'Destroy', p42_menu_item_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
