
<div class="row">
	<div class="page-header page-header-with-buttons">
		<h1 class="pull-left">
		  <span class="glyphicon glyphicon-retweet"></span> <span>Meal 4 Meal Stats</span>
		</h1>
		<div class="pull-right">
			<div class="btn-toolbar" role="toolbar">
			  <div class="" id="loading_spinner_date_picker"></div>
			  	<div class="btn-group" data-toggle="buttons">
					<label id="meals_p42_selector" class="btn btn-success btn-xs active">
					    <input type="radio"  value="p42">Pitza 42
					</label>
					<label id="meals_tacos_selector" class="btn btn-success btn-xs">
						<input type="radio" value="tacos">Tacos
					</label>
				</div>
			  <div class="btn-group" data-toggle="buttons">
			  	<label id="date_filter_all_time" class="btn btn-primary btn-xs active">
		            <input type="radio"  value="all">All
		        </label>
		        <label id="date_filter_current_year" class="btn btn-primary btn-xs">
		        	<input type="radio" value="current_year">Current year
		        </label>
		        <label id="date_filter_current_month" class="btn btn-primary btn-xs">
		        	<input type="radio" value="current_month">Current month
		        </label>
		        <label id="date_filter_current_week" class="btn btn-primary btn-xs">
		        	<input type="radio" value="current_week">Current week
		        </label>
		        <label id="date_filter_daterange" class="btn btn-primary btn-xs">
		        	<input type="radio" value="custom">Custom range
		        </label>
			  </div>
			</div>

		</div>
		
		<div class="clearfix"></div>
		<div class="pull-right col-md-5" id="custom_range_input" style="display:none; margin-top:0px; width:inherit;">  
			<form class="form-inline" role="form">
				<div class="form-group">
				    <div class="input-daterange input-group datepicker">      
				    	<input type="text" size="15" id="date_range_start" name="date_range_start" value="" class="input-sm form-control" />
				        <span class="input-group-addon">to</span>
				        <input type="text" size="15" id="date_range_end" name="date_range_end" value="" class="input-sm form-control" />
				    </div>						    
				    <span class="help-block"></span>
			 	</div>
			 	<div class="form-group">
			 		<button id="date_range_filter_btn" type="button" class="btn btn-success btn-xs">Filter</button> 
			 	</div>
			 </form>
		</div>
		
	</div>
</div> <!-- end header row -->


<div class="row">
	<div class="">

	</div>
	<div class="col-md-2">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title text-centered">Total Meals</h3>
		  </div>
		  <div class="panel-body">
		    <h2 class="meal-info-box" id="total_meals_info_box"><%= number_with_precision(@total_meals, :precision => 0, :delimiter => ",") %></h2>
		  </div>
		</div>
	</div><!-- end 2 col cont -->
	<div class="col-md-2">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title text-centered"><span class="glyphicon glyphicon-cutlery"></span> M4M</h3>
		  </div>
		  <div class="panel-body">
		    <h2 class="meal-info-box" id="m4m_meals_info_box"><%= number_with_precision(@m4m, :precision => 0, :delimiter => ",") %></h2>
		  </div>
		</div>
	</div><!-- end 2 col cont -->
	<div class="col-md-2">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title text-centered"><span class="glyphicon glyphicon-gift"></span> Double</h3>
		  </div>
		  <div class="panel-body">
		    <h2 class="meal-info-box" id="dym_meals_info_box"><%= number_with_precision(@dym, :precision => 0, :delimiter => ",") %></h2>
		  </div>
		</div>
	</div><!-- end 2 col cont -->
	<div class="col-md-2">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title text-centered"><span class="glyphicon glyphicon-shopping-cart"></span> Apparel</h3>
		  </div>
		  <div class="panel-body">
		    <h2 class="meal-info-box" id="apparel_meals_info_box"><%= number_with_precision(@apparel, :precision => 0, :delimiter => ",") %></h2>
		  </div>
		</div>
	</div><!-- end 2 col cont -->
	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title text-centered"><span class="glyphicon glyphicon-usd"></span> Tip Jar</h3>
			</div>
			<div class="panel-body">
				<h2 class="meal-info-box" id="tip_jar_meals_info_box"><%= number_with_precision(@tip_jar, :precision => 0, :delimiter => ",") %></h2>
			</div>
		</div>
	</div><!-- end 2 col cont -->
	<div class="col-md-2">
		<%= link_to 'Edit Tip jar donation', tip_jar_donations_path, :class => 'btn btn-sm btn-warning' %>
	</div>
</div><!-- End row of meal info boxes -->

<div class="row">
	<div class="col-md-7">
		<div class="panel panel-default">
		  <div class="panel-heading">Counts breakdown
		  	
		  	<div class="pull-right padding-right">
		  		<form class="form-horizontal">
		  		<% %>
		  		<div class="form-group">
				    <div class="btn-group" data-toggle="buttons">
				        <label id="breakdown_by_day_selector" class="btn btn-default btn-xs active">
				            <input type="radio" name="granulatiry" value="day">day
				        </label>
				        <label id="breakdown_by_month_selector" class="btn btn-default btn-xs">
				            <input type="radio" name="granulatiry" value="month">month
				        </label>
				        <label id="breakdown_by_quarter_selector" class="btn btn-default btn-xs">
				            <input type="radio" name="granulatiry" value="quarter">quarter
				        </label>
				        <label id="breakdown_by_year_selector" class="btn btn-default btn-xs">
				            <input type="radio" name="granulatiry" value="year">year
				        </label>
				    </div>
				</div>
				</form>
				<% %>
		  	</div>
		  </div>
		  <div class="panel-body">
		  	<div class="ajax_loading" id="count_detail_body_container"></div>
		    <div class="table-responsive" id="detail_tbl_container">
		    	<!-- load from js as ajax request -->
			</div>
		  </div>
		</div>


	</div> <!-- end six column cont for meal table -->
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Counts by month
			</div>
			<div class="panel-body">
				<div class="ajax_loading" id="count_month_body_container"></div>
				<div class="table-responsive" id="m4m_month_container">
					<!-- load from js as ajax request -->
				</div>
			</div>
		</div>
	</div> <!-- end three column containing tables for meal numbers by month -->

	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				Counts by year
			</div>
			<div class="panel-body">
				<div class="ajax_loading" id="count_year_body_container"></div>
				<div class="table-responsive" id="m4m_year_container">
					<table class="table table-hover" id="m4m_year_tbl">
						<thead>
							<tr>
								<th>Year</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							<!-- load from js as ajax request -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div><!-- end three column containing meal number by year -->
	<div class="col-md-2">
		
	</div>
</div> <!-- end row -->
<hr />
<div class="row">
	<div class="col-md-6">
		<div class="ajax_loading" id="product_mix_spinner"></div>
		<div id="product_mix_container">
			<!-- _product_mix.html.erb partial loaded from js via ajax -->
		</div>
	</div>

	<div class="col-md-6">
		<h2 class="text-center">Item Counts by Category</h2>

		<div class="row" id="p42_category_select_cont">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form class="text-center" role="form">
					<div class="form-group">
						<label for="p42_cat_select" class="control-label">Select category</label>
						<select name="p42_cat_select" id="p42_cat_select" class="form-control">
							<option value="">Choose category</option>
							<% @p42_categories.each do |cat| %>
								<option value="<%= cat.id %>"><%= cat.name %></option>
							<% end %>
						</select>
					</div>
				</form>
			</div>
		</div>

		<div class="row hidden" id="tacos_category_select_cont">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form class="text-center" role="form">
					<div class="form-group">
						<label for="tacos_cat_select" class="control-label">Select category</label>
						<select name="tacos_cat_select" id="tacos_cat_select" class="form-control">
							<option value="">Choose category</option>
							<% @tacos_categories.each do |cat| %>
								<option value="<%= cat.id %>"><%= cat.name %></option>
							<% end %>
						</select>
					</div>
				</form>
			</div>
		</div>
		<div class="ajax_loading hidden" id="category_product_mix_spinner"></div>
		<div id="category_product_mix_container">
			<!-- _category_product_mix.html.erb parial -->
		</div>
	</div>
</div> <!-- end row -->

<!-- hidden div used just for page identification from js -->
<div id="meals_index_page" style="display:none;"></div>
