<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket item:</strong>
  <%= @p42_ticket_item.ticket_item_id %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @p42_ticket_item.ticket_id %>
</p>

<p>
  <strong>Menu item:</strong>
  <%= @p42_ticket_item.menu_item_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @p42_ticket_item.category_id %>
</p>

<p>
  <strong>Revenue class:</strong>
  <%= @p42_ticket_item.revenue_class_id %>
</p>

<p>
  <strong>Customer original:</strong>
  <%= @p42_ticket_item.customer_original_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @p42_ticket_item.quantity %>
</p>

<p>
  <strong>Net price:</strong>
  <%= @p42_ticket_item.net_price %>
</p>

<p>
  <strong>Discount total:</strong>
  <%= @p42_ticket_item.discount_total %>
</p>

<p>
  <strong>Item menu price:</strong>
  <%= @p42_ticket_item.item_menu_price %>
</p>

<p>
  <strong>Choice additions total:</strong>
  <%= @p42_ticket_item.choice_additions_total %>
</p>

<p>
  <strong>Ticket close time:</strong>
  <%= @p42_ticket_item.ticket_close_time %>
</p>

<%= link_to 'Edit', edit_p42_ticket_item_path(@p42_ticket_item) %> |
<%= link_to 'Back', p42_ticket_items_path %>
