<p id="notice"><%= notice %></p>

<p>
  <strong>Auto discount:</strong>
  <%= @p42_ticket_item.auto_discount %>
</p>

<p>
  <strong>Gross price:</strong>
  <%= @p42_ticket_item.gross_price %>
</p>

<p>
  <strong>Item qty:</strong>
  <%= @p42_ticket_item.item_qty %>
</p>

<p>
  <strong>Manual discount:</strong>
  <%= @p42_ticket_item.manual_discount %>
</p>

<p>
  <strong>Menu itme group:</strong>
  <%= @p42_ticket_item.menu_itme_group_id %>
</p>

<p>
  <strong>Menu item:</strong>
  <%= @p42_ticket_item.menu_item_id %>
</p>

<p>
  <strong>Net price:</strong>
  <%= @p42_ticket_item.net_price %>
</p>

<p>
  <strong>Pos ticket:</strong>
  <%= @p42_ticket_item.pos_ticket_id %>
</p>

<p>
  <strong>Pos ticket item:</strong>
  <%= @p42_ticket_item.pos_ticket_item_id %>
</p>

<p>
  <strong>Revenue group:</strong>
  <%= @p42_ticket_item.revenue_group_id %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @p42_ticket_item.ticket_id %>
</p>

<p>
  <strong>Meal for meal:</strong>
  <%= @p42_ticket_item.meal_for_meal %>
</p>

<%= link_to 'Edit', edit_p42_ticket_item_path(@p42_ticket_item) %> |
<%= link_to 'Back', p42_ticket_items_path %>
