<h1>Pitza 42 Sales Tickets</h1>
<div class="row">
    <div class="col-md-9">
        <h4>Get Tickets</h4>
        <%= form_tag({:controller => 'p42/tickets', :action => 'index'}, :method => 'GET', :class => 'form-inline') do %>            
                <%= label_tag :view_start_date, "Start Date", :class => 'bold' %>
                <%= text_field_tag :view_start_date, params[:view_start_date], :class => 'datepicker' %>            
                <%= label_tag :view_end_date, "End Date", :class => 'bold' %>
                <%= text_field_tag :view_end_date, params[:view_end_date], :class => 'datepicker' %>
            
            <%= submit_tag "List Tickets", :class => 'btn' %>
        <% end %>
        <% unless params[:view_start_date].nil? || params[:view_end_date].nil? %>         
            <%= @p42_ticket_ids %>
            <%= form_tag destroy_multiple_p42_tickets_path, method: :delete do %>
                <%= hidden_field_tag "start_date", params[:view_start_date] %>
                <%= hidden_field_tag "end_date", params[:view_end_date] %>
                <%= submit_tag "Delete all", :class => 'btn btn-danger' %>
            <% end %>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <p>
                        <b>Ticket Count:</b> <%= @p42_tickets.count %>
                    </p>
                    <p>
                        <b>Meal for Meal Total:</b> <%= @p42_tickets.sum(:meal_for_meal) %>
                    </p>
                    
                </div>
                <div class="col-md-3">
                    <p>
                        <b>Net Sales Total:</b> <%= @net_sales %>
                    </p>     
                    <p>
                        <b>Gross Sales Total:</b> <%= @gross_sales %>
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        <b>Auto Discount Total:</b> <%= @p42_tickets.sum(:auto_discount) %>
                    </p>
                    <p>
                        <b>Manual Discount Total:</b> <%= @p42_tickets.sum(:manual_discount) %>
                    </p>
                    <p>
                        <b>Discount Total:</b> <%= @p42_tickets.sum(:discount_total) %>
                    </p>
                </div>

            </div>
                      
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>POS Ticket ID</th>
                        <th>Net Price</th>
                        <th>Gross Price</th>
                        <th>Auto Discount</th>
                        <th>Manual Discount</th>
                        <th>Meal Count</th>
                        <th>Ticket Close Time</th>
                    </tr>
                </thead>
                <tbody>
                    <% @p42_tickets.each do |ticket| %>
                    <tr>
                        <td><%= ticket.id %></td>
                        <td><%= link_to ticket.pos_ticket_id, ticket %></td>
                        <td><%= ticket.net_price %></td>
                        <td><%= ticket.gross_price %></td>
                        <td><%= ticket.auto_discount %></td>
                        <td><%= ticket.manual_discount %></td>
                        <td><%= ticket.meal_for_meal %></td>
                        <td><%= ticket.ticket_close_time %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    </div>
    <div class="col-md-3">
        <%= form_tag(:controller => 'p42/tickets', :action => 'sync_tickets') do  %>
            <div class="field">
                <%= label_tag :start_date, "Start Date", :class => 'bold' %>
                <%= text_field_tag :start_date, nil, :class => 'datepicker' %>
            </div>
            <div class="field">
                <%= label_tag :end_date, "End Date", :class => 'bold' %>
                <%= text_field_tag :end_date, nil, :class => 'datepicker' %>
            </div>
            
        <%= submit_tag "Sync", :class => 'btn' %>
        <% end %>
    </div>
</div> 


