<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'HAWKEYE', root_path, id: 'logo' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Drive Files", google_drive_sync_path %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Item Sales
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Item Sales", item_sales_path %></li>
            <li><%= link_to "Item Sales Details", item_sales_details_path %></li>
          </ul>
        </li>
        <li>
         <%= link_to "Meal 4 Meal", meals_path %>
        </li>
        <li>
          <%= link_to "Tip Jar", tip_jar_donations_path %>
        </li>
        <li>
          <%= link_to "One Time Donation", one_time_donations_path %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            P42
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Menu Items", p42_menu_items_path %></li>
            <li><%= link_to "Item Groups", p42_menu_item_groups_path %></li> 
            <li><%= link_to "Revenue Groups", p42_revenue_groups_path %></li>
            <li><%= link_to "Discounts", p42_discounts_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Tickets", p42_tickets_path %></li>
            <li><%= link_to "Ticket Items", p42_ticket_items_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Tacos
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Menu Items", tacos_menu_items_path %></li>
            <li><%= link_to "Menu Categories", tacos_menu_item_groups_path %></li>
          </ul>
        </li>
        
      </ul>
        <ul class="nav navbar-nav navbar-right">           
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Settings
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Job Logs", job_logs_path %></li>
              <li><%= link_to "Restaurants", restaurants_path %></li>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Approved Users", approved_users_path %></li>
              <li><%= link_to "FTP", ftp_connects_path %></li>
            </ul>
          </li>
          <% if user_signed_in? %>
            <li class="link_style">Logged in as <strong><%= current_user.fname %></strong></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", user_omniauth_authorize_path(:google_oauth2) %></li>
          <% end %>  
      </ul>
    </div>
  </div>
</nav>
